apiVersion: batch/v1
kind: Job
metadata:
  name: gitea-oidc-setup
spec:
  template:
    spec:
      serviceAccountName: gitea-admin-job-sa
      containers:
      - name: oc-cli
        image: registry.access.redhat.com/openshift4/ose-cli-rhel9:latest
        env:
        - name: OIDC_CLIENT_SECRET
          valueFrom:
            secretKeyRef:
              name: keycloak-gitea-oidc-client # The secret created by ExternalSecret
              key: CLIENT_SECRET
        command:
        - /bin/sh
        - -c
        - |
          # Find the Gitea pod name
          GITEA_POD=$(oc get pods -l app=gitea -o jsonpath='{.items[0].metadata.name}')
          
          # Execute the gitea admin command inside the pod
          oc rsh $GITEA_POD gitea admin auth add-oauth \
            --name "keycloak" \
            --provider openidConnect \
            --key "openshift" \
            --secret "$OIDC_CLIENT_SECRET" \
            --auto-discover-url "https://keycloak-keycloak.{{ .Values.domain }}/auth/realms/openshift/.well-known/openid-configuration" \
            --group-claim-name "groups" \
            --admin-group "workshop-admins" \
            --restricted-group "developers" \
            --group-team-map '{"developers": {"developers": ["Owners"]}}'
      restartPolicy: OnFailure
