apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: keycloak-gitea-oidc-client
spec:
  refreshInterval: 15s
  secretStoreRef:
    name: eso-admin-secret-store
    kind: ClusterSecretStore
  target:
    name: keycloak-gitea-oidc-client
    creationPolicy: Owner
  data:
    - secretKey: "CLIENT_SECRET"
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        metadataPolicy: None
        key: keycloak-client-secret-openshift
        property: CLIENT_SECRET
