apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: "keycloak-gitea-oidc-client"
spec:
  refreshInterval: "15s"
  secretStoreRef:
    name: "eso-admin-secret-store"
    kind: ClusterSecretStore
  target:
    name: "keycloak-gitea-oidc-client"
    template:
      type: Opaque
      stringData:
        oauth2_client: |
          [oauth2_client.keycloak]:
          NAME: "keycloak"
          PROVIDER: "openidConnect"
          KEY: "openshift"
          SECRET: "{{`{{ .CLIENT_SECRET }}`}}"
          AUTO_DISCOVER_URL: "https://keycloak-keycloak.{{ .Values.domain }}/auth/realms/openshift/.well-known/openid-configuration"
          # Claim name providing group names for this source
          GROUP_CLAIM_NAME: "groups" 
          # (Optional) Map specific group claims to Gitea admin status
          GROUP_CLAIM_VALUE_FOR_ADMINISTRATOR_USERS: "workshop-admins"
          GROUP_CLAIM_VALUE_FOR_RESTRICTED_USERS: "developers"
          # Enable OIDC
          OPENID_CONNECT_SCOPES: "openid"
          OIDC_GROUP_MAPPING: '{"developers":{"developers":["Owners"]}}' # '{"<GROUP_ID_FROM_OIDC>":"<GITEA_ORG>:<GITEA_TEAM>"}'
          ENABLE_AUTO_REGISTRATION = true
  data:
    - secretKey: "CLIENT_SECRET"
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        metadataPolicy: None
        key: keycloak-client-secret-openshift
        property: CLIENT_SECRET
